<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GMap.Net.WPF" version="1.0.0.1" targetFramework="net461" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.6.0" targetFramework="net461" />
</packages>